@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');


body{
  font-family: 'Roboto',sans-serif;
  font-size: 22px;

}
#root{zoom: 100%;}
.container-fluid{
  padding: 0px 45px;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: 0.5s;
}

.transition{ transition: all 0.3s ease-in-out;}

.cursor{cursor: pointer;}

.bg-g,.bg-success{background: #3bb77e !important;}
.text-g{color:#3bb77e}
.text-org{color:#FDC040;}
.hd{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 25px;
}


li{
  cursor: pointer;
}
.btn{
 margin: auto;
 padding: 0;
}
.btn-border{
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 5px !important;
  color: #000000 !important;
}
.btn-border svg{
  opacity: 0.5;
}
.btn-border:hover{
  border: 1px solid #3bb77e !important;
  background: #3bb77e !important;
  color: #fff;
}
.btn-border:hover svg{
  opacity: 1 !important;
}
.btn-g a{
  color: #fff !important;
  text-decoration: none !important;
}

.btn-lg{
  font-size: 22px !important;
  margin: auto;
}
.btn-g{
  background: #3bb77e !important;
  padding: 10px 25px !important;
  border-radius: 5px !important;
  color: #fff !important;
  text-transform: capitalize !important;
  
}
.btn-g:hover{
  background: #FDC040 !important;
}

::-webkit-scrollbar {
  width: 8px; 
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
  background: #888; /* Grey thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #ff0000; /* Darker grey when hovered */
}



/* START TOOLTIP STYLES */
[tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: .9em; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip); /* magic! */
  
  /* most of the rest of this is opinion */
  font-family: Helvetica, sans-serif;
  text-align: center;
  
  /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}
[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}
[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */ 
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}



.price{
  font-size: 18px;
  margin-right: 2px;
}
.oldprice{
  font-size: 14px;
  opacity: 0.6;
  color: #000;
  text-decoration: line-through;
}

.listingPage{
  width: 100%;
  height: auto;
  padding: 45px 0px;
}

.breadcrumb{
  width: 100%;
  height: auto;
  padding: 45px 45px;
  background: #d8f1e5;
  border-radius: 20px;
  margin-bottom: 30px;
}

.breadcrumb h1{
  color: #000;
  opacity: 0.8;
  font-size: 50px;
  font-weight: bold;
}
.breadcrumb ul li{
  margin-right: 20px !important;
}
.breadcrumb ul li a{
  color: #000;
  text-decoration: none;
  font-size: 22px;
}

.sidebarWrapper{
  max-width: 30%;
  margin-left: 30px;
  flex:  0 0 20%;
}
.rightContent{
  max-width: 74%;
  flex: 0 0 90%;
}

.sidebarWrapper h3{
  font-size: 30px;
  font-weight: 500;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 15px;
}

.sidebarWrapper h3:after{
 content: "";
 width: 100%;
 height: 3px;
 background: #f0f0f0;
 position: absolute;
 bottom: 0px;
 left: 0px; 
}

.productThumb .brand{
  font-size: 15px;
}

.sidebarWrapper h3:before{
  content: "";
  width: 40%;
  
  height: 3px;
  background: #b0e5c2;
  position: absolute;
  bottom: 0px;
  left: 0px; 
  z-index: 10;
}
.slider12{
  z-index: 100;
}

.card{
  padding: 25px;
  border-radius: 10px !important;
  margin-bottom: 20px;
}

.card .catList .catItem{
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.050);
  cursor: pointer;
  margin: 10px 0px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.sidebarWrapper .sidebar .card .catList .catItem h4{
  color: #000;
  font-size: 18px;
  margin-left: 10px;
}
.rounded-circle{
  background: #BCE3C9;
  width: 30px;
  height: 30px;
  margin-left: auto;
}


.sidebarWrapper .sidebar .card .catList .catItem:hover{
  border: 1px solid rgba(0, 0, 0, 0.2);
}


.priceRange span{
  font-size: 16px;
  padding: 0px 10px 0px 10px;
}

.toprice{
  margin-left: auto;
}

.filters{
  padding: 10px 0px;
}
.filters h5{
  font-weight: 600;
  margin-bottom: 10px;
}
.filters ul{
  max-height: 200px;
  overflow-y:scroll ;
  /* margin-left: -38px; */
}

.filters ul::-webkit-scrollbar{
  width: 10px !important;
}

.filters ul::-webkit-scrollbar-thumb{
  background: #b15252 !important; 
}

.filters ul::-webkit-scrollbar{
  width: 7px !important;
}

.filters ul li{
  width: 100%;
  margin-bottom: 5px;
  list-style: none;
}


.sidebarWrapper .sidebar .btn{
  width: 150px !important;
}

.sidebarWrapper .sidebar{
  position: sticky;
  top: 110px;
}

.rightContent .topStrip{
  padding: 0px 0px ;
}
.rightContent .topStrip p{
  font-size: 16px;
}
.rightContent .topStrip .tabbutton .tab_{width: 100%; 
  padding-right: 10px;
}
.rightContent .topStrip .tabbutton .tab_ .btn_{
  background: none !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  padding: 0px 40px !important;
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.7) !important;
  border-radius: 10px !important;
  font-size: 16px !important;
}

.rightContent .topStrip .tabbutton .tab_ .btn_ svg{
  opacity: 0.5;
}

